<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <context-param>
    <description>File containing api information</description>
    <param-name>apiFile</param-name>
    <param-value>pgu.properties</param-value>
  </context-param>

  <!-- Servlets -->
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>pgu.server.service.ProfileServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>contacts</servlet-name>
    <servlet-class>pgu.server.service.ContactsServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pub</servlet-name>
    <servlet-class>pgu.server.service.PublicProfileServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>linkedinService</servlet-name>
    <servlet-class>pgu.server.service.LinkedinServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>pgu.server.service.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>contacts</servlet-name>
    <url-pattern>/pgu_geo/contacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/pgu_geo/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pub</servlet-name>
    <url-pattern>/pgu_geo/pub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>linkedinService</servlet-name>
    <url-pattern>/pgu_geo/linkedin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/pgu_geo/login</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Pgu_geo.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

<!--     <security-constraint> -->
<!--         <web-resource-collection> -->
<!--             <web-resource-name>Secure content</web-resource-name> -->
<!--             <url-pattern>/*</url-pattern> -->
<!--         </web-resource-collection> -->
<!--         <user-data-constraint> -->
<!--             <transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
<!--         </user-data-constraint> -->
<!--     </security-constraint> -->
    
<!--     <security-constraint> -->
<!--         <web-resource-collection> -->
<!--             <web-resource-name>Public content</web-resource-name> -->
<!--             <url-pattern>/pgu_geo/pub/*</url-pattern> -->
<!--         </web-resource-collection> -->
<!--         <user-data-constraint> -->
<!--             <transport-guarantee>NONE</transport-guarantee> -->
<!--         </user-data-constraint> -->
<!--     </security-constraint> -->
    
<!--     <security-constraint> -->
<!--         <web-resource-collection> -->
<!--             <web-resource-name>Login</web-resource-name> -->
<!--             <url-pattern>/pgu_geo/login/*</url-pattern> -->
<!--         </web-resource-collection> -->
<!--         <user-data-constraint> -->
<!--             <transport-guarantee>NONE</transport-guarantee> -->
<!--         </user-data-constraint> -->
<!--     </security-constraint> -->
    
</web-app>